<footer style="text-align: center;">
  <!--- creativecommons -->
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
    <img alt="Creative Commons License" style="border-width:0" src="/img/cc.png" title="This work is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License">
  </a>
  <!--- cornify -->
  <a href="https://www.cornify.com" onclick="cornify_add();return false;">
    <img src="https://www.cornify.com/assets/cornify.gif" width="61" height="16" border="0" alt="Cornify"></a>
  <script type="text/javascript" src="https://www.cornify.com/js/cornify.js"></script>
  <!--- rss/atom -->
  <a href="https://github.com/0x20/hackerspaces.be/commits/master.atom">
    <img alt="Atom Feed" style="border-width:0" src="/img/rss.png" title="Rss Feed For Your Convenience"></a>


</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>
