{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container">
    <section class="section">
        <div class="container">
            <article class="article">
                {{ partial "post-metadata-single" . }}
                <div class="content">
                    dsqffs
                </div>
            </article>
        </div>
    </section>
</div>